.main-container {
    margin: 30px 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.middle-text {
    display: block;
    width: fit-content;
    margin: 30px auto;
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}