.main-container {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.middle-text {
    display: block;
    width: fit-content;
    margin: 30px auto;
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.load-more-button {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(182, 233, 251);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border: 0;
    width: 15%;
    height: 50px;

    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.load-more-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}