.main-content {
    display: flex;
}

.preview-img {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: -55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% 10%;
    width: 40%;
    height: 100vh;
    background-color: rgb(235, 235, 235);
}

.preview-img img {
    width: 60vh;
    height: 80vh;
}

.description {
    flex: 1;
}

.book-info {
    width: 80%;
    margin: auto;
    padding: 20px;

    font-size: 18px;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.book-info h2 {
    margin: 20px 0;
}

.book-info p {
    margin: 10px 0;
}

.book-info .author {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    color: #949494;
}

.book-info .descriptionBlock {
    padding: 15px;
    border: 1px solid #94949480;
    margin: 30px 0;
    font-weight: 500;
}



@media (max-width: 1024px) {
    .preview-img img{
        width: 50vh;
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .main-content {
        flex-wrap: wrap;
    }

    .preview-img {
        width: 100%;
        position: unset;
    }

    .preview-img img{
        width: 50vh;
        height: 70vh;
    }

    .book-info {
        width: 80%;
    }
}

@media (max-width: 425px) {
    .book-info p {
        font-weight: 400;
        font-size: 14px;
    }

    .book-info .categories {
        font-size: 18px;
    }
}