header .Filter {
    color: white;
    width: fit-content;
    margin: 25px auto;
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

header .Filter select {
    line-height: 27px;
    width: 250px;
    margin: 7px;
    margin-right: 25px;
    padding: 7px 10px;

    color: rgb(102, 102, 102);
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;

    border: 1px solid rgba(0, 0, 0, 0.651);
    outline: none;
    cursor: pointer;
}

header .Filter select option {
    cursor: pointer;
}

@media (max-width: 768px) {
    header .Filter select {
        width: 140px;
        margin-right: 40px;

        font-size: 18px;
    }
}

@media (max-width: 425px) {
    header .Filter {
        width: 270px;
        font-weight: 500;
    }


    header .Filter select {
        width: 150px;
        margin-right: 0px;

        font-size: 16px;
    }
}

@media (max-width: 320px) {
    header .Filter {
        width: 240px;

        font-size: 17px;
        font-weight: 600;
    }

    header .Filter select {
        width: 130px;
    }
}